footer.footer 
    .footer__logo 
        img(src='img/logo-green.png' alt="Natours logo")
    ul.footer_nav 
        li: a(href="#") About Us 
        li: a(href="#") Download Appps
        li: a(href="#") Became a guide
        li: a(href="#") Carrers 
        li: a(href='#') Contact
    p.footer__copyright &copy; by Laxman Singh Feel free to Use this project 


