doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Natours #{tour} 
        link(rel="stylesheet", href="css/style.css")
        link(rel="shortcut icon", type ='image/png' href="img/favicon.png")
    body 
        h1=tour
        //- h1 The Park Camper
        h2=user.toUpperCase()

        - const x =9 // it is unbuffered codeh
        h2=2*x
        p this is a text simple


        